<div class="nested-fields well well-compact">

                  <div class="form-group has-icon">
                    <div class="row">

                      <div class="col-md-12">
                          <%= f.label :song_name, "曲名" %>
                          <%= f.text_field :song_name, size: "36" %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <%= f.label :album_name, "アルバム タイトル" %>
                        <%= f.text_field :album_name, size: "35x2" %>
                      </div>
                        <%= link_to_remove_association "remove song", f %>
                    </div>
                  </div>
                          <!-- poem -->
                          <h3>Poems</h3>

	    <%= f.fields_for :post_poems do |poem| %>
	      <%= render 'post_poem_fields', f: poem %>
	    <%end%>

	    <div class="links">
	      <%= link_to_add_association "add poem", f, :post_poems %>
	    </div>

                          <!-- ポエム -->

</div>