<%= search_form_for @search do |f| %>
 <div class="form-group">
<!-- 　　#検索対象のカラムを:hoge_contで示す。itemnameだったらitemname_cont -->
   <%= f.label :artist_name_cont, "Name" %>
   <%= f.search_field :artist_name_cont, class: "form-control" %>
 </div>
 <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<% if @search_artists.any? %>
 <% @search_artists.each do |result| %>
   <p><%= result.artist_name %></p>
 <% end %>
<% end %>

<!-- %h2= page_entries_info @data
= paginate @data -->
<h2>
	<%= page_entries_info @serch_artists, class: "pagenate" %>

</h2>