<nav aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">アーティスト登録</li>
  </ol>
</nav>

                <%= form_for(@artist) do |f| %>
                    <% if @artist.errors.any? %>
                      <div id="error_explanation">
                        <h3><%= pluralize(@artist.errors.count, "error") %> invalidated your post.</h3>
                        <ul>
                        <% @artist.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group has-icon">
                        <h5>アーティスト名</h5>
                          <%= f.text_field :artist_name, size: "36" %>
                        </div>
                      </div>
                    </div>
<!--                     <div class="row">
                      <div class="col-md-12">
                        <h5>曲名</h5>
                        <%#= f.text_area :body, size: "35x2" %>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-12">
                        <%= f.submit "create artist", class: "btn btn-lg btn-primary btn-base-1 mt-20" %>
                      </div>
                    </div>
                <% end %>