                <%= form_for(@song) do |f| %>

                    <!-- エラー -->
                    <% if @song.errors.any? %>
                      <div id="error_explanation">
                        <h3><%= pluralize(@song.errors.count, "error") %> invalidated your post.</h3>
                        <ul>
                        <% @song.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <!-- エラー -->

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group has-icon">
                          <%= f.label :song_name, "曲名" %>
                          <%= f.text_field :song_name, size: "36" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <%= f.label :album_name, "アルバム タイトル" %>
                        <%= f.text_field :album_name, size: "35x2" %>
                      </div>
                    </div>


                          <!-- poem -->
                          <h3>Poems</h3>

                          <%= f.fields_for :post_poems do |poem| %>
                            <%= render 'task_fields', f: poem %>
                          <% end %>

                          <div class="links">
                            <%= link_to_add_association "タグを追加", f, :post_poems %>
                          </div>
                          <!-- ポエム -->



                    <div class="row">
                      <div class="col-md-12 actions">
                      <%= f.submit "create song", class: "btn btn-lg btn-primary btn-base-1 mt-20" %>
                      </div>
                    </div>
                <% end %>
