<%= search_form_for @search do |f| %>
 <div class="form-group">
<!-- 　　#検索対象のカラムを:hoge_contで示す。itemnameだったらitemname_cont -->
   <%= f.label :song_name_cont, "Name" %>
   <%= f.search_field :song_name_cont, class: "form-control" %>
 </div>
 <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<% if @results.any? %>
 <% @results.each do |result| %>
   <p><%= result.song_name %></p>
 <% end %>
<% end %>