<nav aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">アーティスト登録</a></li>
    <li class="breadcrumb-item active" aria-current="page">曲名登録</li>
  </ol>
</nav>

                <%= form_for(@song) do |f| %>
                    <% if @song.errors.any? %>
                      <div id="error_explanation">
                        <h3><%= pluralize(@song.errors.count, "error") %> invalidated your post.</h3>
                        <ul>
                        <% @song.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group has-icon">
                        <h5>曲名</h5>
                          <%= f.text_field :song_name, size: "36" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h5>アルバム名</h5>
                        <%= f.text_field :album_name, size: "35x2" %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <%= f.submit "create song", class: "btn btn-lg btn-primary btn-base-1 mt-20" %>
                      </div>
                    </div>
                <% end %>