
<h1>曲名</h1>
<br>
<%= @song.song_name %>
<br>
<br>
<h2>アルバム名</h2>
<%= @song.album_name %>
<br>
<br>
<h3>歌詞</h3>

<% @song.post_poems.each do |poem| %>

<br>

	<% if user_signed_in? %>

		<%= link_to post_poem_path(@song.id) do %>
			<%= poem.poem %>
		<% end %>

	<% else %>

		<%= poem.poem %>

	<% end %>

<br>

<% end %>