<h1>編集</h1>
<%= form_for [@song, @poem], method: :edit do |f| %>
                    <% if @tran.errors.any? %>
                      <div id="error_explanation">
                        <h3><%= pluralize(@tran.errors.count, "error") %> invalidated your post.</h3>
                        <ul>
                        <% @tran.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group has-icon">
                        <h5>訳詩</h5>
                          <%= f.text_area :poem, size: "36" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <%= f.submit "翻訳登録", class: "btn btn-lg btn-primary btn-base-1 mt-20" %>
                      </div>
                    </div>
                <% end %>