<!DOCTYPE html>
<html>
  <head>
    <title>Poet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="py-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Trans Poemer</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to " News", root_path, class: "nav-link" %><span class="sr-only">(現位置)</span>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">マイメニュー</a>
          </li> -->

          <li class="nav-item ">
              <%= link_to "歌詞投稿", new_artist_path, class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              検索
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#">アーティスト</a> -->
              <%= link_to "Artist", artists_path, class: "dropdown-item" %>
            </div>
          </li>

        </ul>

<!-- 検索フォーム -->
        <!-- <form class="form-inline my-2 my-lg-0"> -->
          <%= search_form_for @search_a, url: artists_path, :html => {:class => "form-inline my-2 my-lg-0"} do |f| %>
          <dt><%= f.text_field :artist_name_cont ,placeholder: '「アーティスト名」を入力...', class: "form-control mr-sm-2" %></dt>
          <dd><%= f.submit ("検索") , class: 'btn btn-outline-success my-2 my-sm-0'%></dd>
          <% end %>
<!-- 検索フォーム -->

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
